<% content_for :title do %>
	 | Home
<% end %>

<div class="span-24">Home plaatje</div>
<div class="span-24 center-text">
	<%= manageable_layout_content_for :titel_zin %>
	<div class="prepend-2 span-20 append-2 last">	
		<%= manageable_layout_content_for :inleiding %>
	</div>
</div>
<div class="span-21 center-text">
	<h3 class="span-7"><%= link_to "Grondwerk", diensten_grondwerk_path %></h3>
	<h3 class="span-7"><%= link_to "Bestraten", diensten_bestraten_path %></h3>
	<h3 class="span-7 last"><%= link_to "Tuinaanleg", diensten_tuinaanleg_path %></h3>
</div>
<div class="span-12 center-text">
	<h3><%= link_to "Slopen", diensten_slopen_path %></h3>
	<div class="prepend-1 append-1">	
		<%= manageable_layout_content_for :slopen_kort %>
	</div>
</div>
<div class="span-12 center-text last">
	<h3><%= link_to "Verhuur", verhuur_path %></h3>
	<div class="prepend-1 append-1">
		<%= manageable_layout_content_for :verhuur_kort %>
	</div>
</div>
	
