<% content_for :title do %>
	 | Uw complete grondwerk, bestrating en tuinaanleg door één bedrijf | Home
<% end %>

<div class="span-24 header-image rounded-top-corners">
	<div class="home-header rounded-top-corners"></div>
</div>
<div class="span-24 inleiding-container">
	<div class="prepend-3 span-18 append-3 last uvp">
		<%= manageable_layout_content_for :titel_zin %>
	</div>
	<div class="prepend-3 span-18 append-3 last">	
		<%= manageable_layout_content_for :inleiding %>
	</div>
</div>
<div class="span-24 center-text diensten-container">
	<div class="diensten center-div">
		<%= link_to diensten_grondwerk_path do %>
			<div class="dienst-links dienst"></div>
		<% end %>
		<%= link_to diensten_bestraten_path do %>
			<div class="dienst-midden dienst"></div>
		<% end %>
		<%= link_to diensten_tuinaanleg_path do %>
			<div class="dienst-rechts dienst"></div>
		<% end %>
	</div>
</div>
<div class="span-24 center-div overige-diensten-container">
	<div class="span-12">
		<div class="prepend-3 span-8 append-1">	
		<div class="center-text">
			<h3><%= link_to "Slopen", diensten_slopen_path %></h3>
		</div>
			<%= manageable_layout_content_for :slopen_kort %>
		</div>
	</div>
	<div class="span-12 last">
		<div class="prepend-1 span-8 append-3">
			<div class="center-text">
				<h3><%= link_to "Verhuur", verhuur_path %></h3>
			</div>
			<%= manageable_layout_content_for :verhuur_kort %>
		</div>
	</div>
</div>
<div class="prepend-2 span-20 append-2 last"><hr></div>
<div class="prepend-1 span-22 append-1 last review-container">
	<%= render :partial => "review", :collection => @reviews %>
</div>
	
