<h2>Slidewhows beheren</h2>

<h3>Grondwerk</h3>
<table>
	<% @grondwerk_pictures.each do |picture| %>
	  <tr>
	    <td><%= image_tag(picture.photo.thumb) %></td>
	    <td><%= link_to 'Bewerken', edit_picture_path(picture) %></td>
	    <td><%= link_to 'Verwijderen', picture, confirm: 'Weet je het zeker?', method: :delete %></td>
			<td><%= link_to 'Naar voren', :controller => 'pictures', :action => "move_up", :picture => picture %></td>
			<td><%= link_to 'Naar achteren', :controller => 'pictures', :action => "move_down", :picture => picture %></td>
	  </tr>
	<% end %>
</table>
<%= link_to 'Foto toevoegen', :controller => :pictures, :action => :new, :category => "grondwerk" %>

<br><br>

<h3>Bestraten</h3>
<table>
	<% @bestraten_pictures.each do |picture| %>
	  <tr>
	    <td><%= image_tag(picture.photo.thumb) %></td>
	    <td><%= link_to 'Bewerken', edit_picture_path(picture) %></td>
	    <td><%= link_to 'Verwijderen', picture, confirm: 'Weet je het zeker?', method: :delete %></td>
			<td><%= link_to 'Naar voren', :controller => 'pictures', :action => "move_up", :picture => picture %></td>
			<td><%= link_to 'Naar achteren', :controller => 'pictures', :action => "move_down", :picture => picture %></td>
	  </tr>
	<% end %>
</table>
<%= link_to 'Foto toevoegen', :controller => :pictures, :action => :new, :category => "bestraten" %>

<br><br>

<h3>Tuinaanleg</h3>
<table>
	<% @tuinaanleg_pictures.each do |picture| %>
	  <tr>
	    <td><%= image_tag(picture.photo.thumb) %></td>
	    <td><%= link_to 'Bewerken', edit_picture_path(picture) %></td>
	    <td><%= link_to 'Verwijderen', picture, confirm: 'Weet je het zeker?', method: :delete %></td>
			<td><%= link_to 'Naar voren', :controller => 'pictures', :action => "move_up", :picture => picture %></td>
			<td><%= link_to 'Naar achteren', :controller => 'pictures', :action => "move_down", :picture => picture %></td>
	  </tr>
	<% end %>
</table>
<%= link_to 'Foto toevoegen', :controller => :pictures, :action => :new, :category => "tuinaanleg" %>

<br><br>

<h3>Slopen</h3>
<table>
	<% @slopen_pictures.each do |picture| %>
	  <tr>
	    <td><%= image_tag(picture.photo.thumb) %></td>
	    <td><%= link_to 'Bewerken', edit_picture_path(picture) %></td>
	    <td><%= link_to 'Verwijderen', picture, confirm: 'Weet je het zeker?', method: :delete %></td>
			<td><%= link_to 'Naar voren', :controller => 'pictures', :action => "move_up", :picture => picture %></td>
			<td><%= link_to 'Naar achteren', :controller => 'pictures', :action => "move_down", :picture => picture %></td>
	  </tr>
	<% end %>
</table>
<%= link_to 'Foto toevoegen', :controller => :pictures, :action => :new, :category => "slopen" %>


