<!DOCTYPE html>
<html>
<head>
  <title>Loonwerker</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container showgrid">
		<div id="notice">
			<% flash.each do |key, value| %>
  			<%= content_tag(:div, value, :class => "site-flash #{key}") %>
			<% end %>
		</div>
		<header class="span-24">
			<h1>De Kleine Loonwerker</h1>
			<nav class="align-right">
				<%= link_to "Home", root_path %>
				<%= link_to "Diensten", diensten_grondwerk_path %>
				<%= link_to "Verhuur", verhuur_path %>
				<%= link_to "Over ons", about_path %>
				<%= link_to "Contact", contact_path %>
			</nav>
		</header>

		<%= yield %>
	</div>
	<footer>
		<p>Hier komt de footer</p>
	</footer>
</body>
</html>
