<!DOCTYPE html>
<html>
<head>
  <title>De Kleine Loonwerker<%= yield :title%></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<% if !(manageable_layout_content_for :korte_samenvatting).nil? %>
		<meta name="description" content="<%= manageable_layout_content_for :korte_samenvatting %>" >
	<% end %>
	<meta name="author" content="Luuk den Teuling">
	<meta name="keywords" content="kleine loonwerker, luuk den teuling, tuin renoveren, bestraten, verhuur graafmachine, tuin afgraven, eindhoven, brabant, muur slopen, fundering slopen">
	<meta name="language" content="nl">
  <%= csrf_meta_tags %>
	<%= render :partial => 'layouts/tracking' %>
</head>
<body>
	<div class="main-background wrapper">
		<div class="container">
			<div id="notice">
				<% flash.each do |key, value| %>
 					<%= content_tag(:div, value, :class => "site-flash #{key}") %>
				<% end %>
			</div>
			<% if admin_signed_in? %>
				<div id="admin-box">
					<%= link_to "Pagina's beheren", admin_pages_path %><br>
					<%= link_to "Slideshows beheren", pictures_path %><br>
					<%= link_to "Referenties beheren", reviews_path %><br>
					<%= link_to "Logout", logout_path %>
				</div>
			<% end %>
			<header id="header" class="span-24">
				<div class="align-right phone-numbers">
					<p>Tel: 06 10 352 382<br>
					Tel: 073 55 15 552</p>
				</div>
				<h1 class="company-name">De Kleine Loonwerker</h1>
				<nav id="main-navigation" class="align-right">
					<%= link_to "Home", root_path, :class => controller_active?('home') %>
					<%= link_to "Diensten", diensten_grondwerk_path, :class => controller_active?('diensten') %>
					<%= link_to "Verhuur", verhuur_path, :class => controller_active?('verhuur') %>
					<%= link_to "Over ons", about_path, :class => controller_active?('about') %>
					<%= link_to "Contact", contact_path, :class => controller_active?('contact') %>
				</nav>
			</header>
			<div class="content-background span-24">
				<%= yield %>
			</div>
		</div>
		<div class="push"></div>
	</div>
	<footer>
		<div id="footer-outer">
			<div id="footer">
				<div class="container">
					<div class="span-24 footer-main">
						<div class="align-right bedrijfs-info">
							<p>De Kleine Loonwerker<br>
							Luuk den Teuling<br>
							Sint Lambertusweg 50<br>
							5291AC, Gemonde<br>
							Tel: 06 10 352 382<br>
							Tel: 073 55 15 552<br>
							Mail: luuk@den-teuling.nl</p>
						</div>
						<div class="align-left">
							<br><br><br><br><br>
							<p>Copyright <%= Time.now.year %>, de Kleine Loonwerker<br>
							Webontwikkeling: <%= link_to 'dreamyourweb', 'http://www.dreamyourweb.nl', :target => "_blank" %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
